.node {
    margin: -1px;
    padding: 0;
    width: 24px;
    height: 24px;
    outline: 1px solid rgb(197, 197, 197);
    display: inline-block;
    background-color: #fff;
}

.node-start{
    background-color: rgb(45, 87, 155) !important;
}

.node-finish{
    background-color: rgb(53, 197, 48) !important;
}