$midnight: #2c3e50;
$clouds: #ecf0f1;

.grid {
  
    height: calc(100vh-60px);
    min-width: 1200px;
    padding: 35px 20px 20px 0;
    background-color: #fdfdfd;
  }

  nav{
    height: 6rem;
    width: 100vw;
    background-color: rgb(12, 53, 71);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

.logo{
  cursor: pointer;
  display: flex;
  width: 100px;
  align-items: center;
  text-align: left;
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 25px;
  border-right: 1px solid  rgb(255, 255, 255) !important;
}

.logo::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin-top: 25px;
  width: 70px;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li:hover {
    cursor: pointer;
}
.nav-links li {
    position: relative;
}
.nav-links li::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin-top: 10px;
}
.nav-links li:hover::after{
    width: 95%;
}

.dd-button{
  margin-top: -8px;
  padding: 0;
}


/*----Spinner---------*/
.wrapper {
  margin:100px
}

.spinner {
  height:45px;
  width:45px;
  position:relative;
  display:inline-block;
  vertical-align: middle;
}

.spinner span {
  border-radius: 40px;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:3px solid white;
  opacity:0;
  animation: scale 3s ease-out infinite;
  -webkit-animation: scale 3s ease-out infinite;
}
.label {
  color:white;
  font-size:24px;
  font-family:"Helvetica Neue";
  font-weight:100;
  display:inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left:7px;
}

.label:after {
  content:'...'
}

.spinner span:nth-child(2) {
  animation-delay:2s;
  -webkit-animation-delay:2s;
}

.spinner span:nth-child(3) {
  animation-delay:1s;
  -webkit-animation-delay:1s;
}

@keyframes scale {
  0% {opacity:0;-webkit-transform:scale(0);}
  70% {opacity:1;}
  100% {opacity:0;-webkit-transform:scale(1);}
}

@-webkit-keyframes scale {
  0% {opacity:0;-webkit-transform:scale(0);}
  70% {opacity:1;}
  100% {opacity:0;-webkit-transform:scale(1);}
}

/*---------DropDown ------*/

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border-radius: 4px;
  padding-top: 10px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
}

.dd-butto li:hover {
  color: rgb(12, 53, 71);
  cursor: pointer;
}
.dd-butto li {
  position: relative;
}
.dd-butto li::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: rgb(12, 53, 71);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin-top: 10px;
}
.dd-butto li:hover::after{
  width: 100%;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 20px 20px 20px 20px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 12px;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 0px;
  cursor: pointer;
  white-space: nowrap;
  color: rgb(12, 53, 71);

}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

/*--MODAL--*/
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  margin-top: -100px;
  overflow-y: scroll;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  max-width: 800px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  border-radius: 3px;
}
.close {
  font-family: Arial, Helvetica, sans-serif;
  background: #f26d7d;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}
.close:hover {
  background: #fa3f6f;
}




.cPanelContainer {
  margin:auto;
  padding:0;
}

.cPanelHeader {
  margin:auto;
  padding:50px 50px;
  background:rgb(12, 53, 71);
  text-align:center;
}

.cPanelHeader > h1 {
  color:#f0f0f0;
  font-weight:100;
}
.cPanelHeader > span {
  color:#f0f0f0;
  font-weight:100;
  line-height: 25px;
}

.cPanelFooter {
  margin:auto;
  padding:50px;
  background:rgb(12, 53, 71);
  text-align:center;
}

.cPanelFooter > span {
  color:#f0f0f0;
  font-size:15px;
  font-weight:400;
}

.cPanelContent {
  margin:auto;
  padding:0;
  background:rgb(12, 53, 71);
  text-align:center;
  display:flex;
}

.cPanelHeader > h3 {
  text-align: left;
  color:#f0f0f0;
  font-weight:400;
  padding-top: 15px;
  font-size: 22px;

}

.cPanelHeader > p {
  // margin: auto;
  text-align: left;
  color:#f0f0f0;
  font-weight:300;
  line-height: 15px;
  padding: 10px;
  // padding-bottom: 10px;
  font-size: 16px;
}
.cPanelHeader > ul > p {
  // margin: auto;
  text-align: left;
  color:#f0f0f0;
  font-size: 15px;
  font-weight:100;
  line-height: 16px;
  padding-bottom: 5px;
}
.cPanelHeader > ul > p > span{
  font-weight:400;
}
